
@import url('../main.scss');

header {
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #2c3e50d0;
    color: #fff;
    & nav {
        padding: 10px;
        @include space-between;
        backdrop-filter: blur(8px);
        & .active {
            color: #e67e22;
        }
        & .nav-menu,
        .menu-taggle{
            list-style-type: none;
            & a {
                color: #fff;
                text-decoration: none;
                transition: color linear .3s;
                &:hover{
                    color: #e67e22;
                }
            }
            & .active{
                color: #e67e22;
            }
        }
        // ======NAV MENU=========
        & .nav-menu {
            @include centered(8px);
            & li {
                & a {
                    font-weight: 600;
                    padding:8px 12px;
                }
            }
        }
        // ======TAGGLE NEMU=======
        .taggle {
            display: none;
            position: relative;
            cursor: pointer;
            // left: -80px;
            transition: all ease-in-out 1s;
            & span {
                margin-right: 48;
            }
            & .menu-taggle {
                position: absolute;
                display: none;
                top:80%;
                left: -280%;
                min-width:200px;
                z-index: 100;
                padding: 10px 8px;
                background-color: #2c3e50;
                & li{
                    & a {
                        width: 100%;
                        text-align: left;
                        color: #fff;
                    }
                }
            }
            &:hover .menu-taggle {
                display: block;
            }
        }
    }
}